<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         timeoutForSmallTests="0"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./Classes</directory>
        </include>
        <report>
            <clover outputFile="Build/Artifacts/Reports/PhpUnit/clover.xml"/>
            <crap4j outputFile="Build/Artifacts/Reports/PhpUnit/crap4j.xml"/>
            <html outputDirectory="Build/Artifacts/Reports/PhpUnit/Coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="netlogix/migrations Unit Test">
            <directory>./Tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="Build/Artifacts/Reports/PhpUnit/junit.xml"/>
    </logging>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    </php>
</phpunit>
